@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    --theme-color: #2e3627;
}

/* left section */
aside {
    width: 35vw;
    height: 100vh;
    position: absolute;
}

aside img.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

div.odin-logo{
    position: absolute;
    background-color: rgb(65, 71, 55,0.2);
    width: 100%;
    height: 15vh;
    top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.odin-logo img{
    position: absolute;
    height: 80%;

}

aside p,a{
    font-size: 12px;
    text-decoration: none;
    color: #eaeae9;
}

aside p{
    position: absolute;
    bottom: 0;
}

/* right section */

main {
    padding-left: 35vw;
    background-color: rgb(245, 245, 245);
    height: 100vh;
}

/* top part  */
.top-section {
    height: 30vh;
    padding-top: 7vh;
    padding-left: 40px;
    padding-right: 10vw;
    padding-bottom: 10px;
}

p.notice {
    margin-bottom: 12px;
}

p.notice+p {
    color: var(--theme-color);
    margin-bottom: 400px;
}


/* form section */
.form-input {
    padding: 20px;
    padding-left: 40px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 1px 5px 1px rgb(0, 0, 0, 0.5);
}

form {
    display: flex;
    flex-direction: column;
}

.form-input>p {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 1.2rem;
}

.form-row {
    display: flex;
    flex-direction: row;
}

.form-row>div {
    position: relative;
}

input {
    width: 20vw;
    margin: 20px;
    margin-left: 0;
    margin-right: 80px;
}

.form-row label {
    position: absolute;
    font-size: 11px;
    top: 0;
    left: 0;
    text-transform: uppercase;
}

.form-row label span {
    font-size: 13px;
    color: rgb(178, 37, 37);
}

input:invalid{
    border: 1.5px solid red;
}

input:valid{
    border: 2px solid var(--theme-color);
}

/* bottom part */

.bottom-part {
    padding-left: 40px;
    padding-top: 30px;    
}

button.create-account {
    background-color: var(--theme-color);
    color: #eaeae9;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.bottom-part a{
    color: var(--theme-color);
    text-decoration: none;
    font-weight: 600;
    font-size: 1em;
}