*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 55px;
    padding-left: 58px;
    background-color: rgb(245, 245, 245);
}

/* grid */

.main-section{
    margin: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 17px;
    row-gap: 40px;
    background-color: rgb(247, 247, 247);
}

/* responsive media queries */

@media (max-width:750px){
    .main-section{
        grid-template-columns: 1fr 1fr;
    }  
}

@media (min-width:751px) and (max-width:999){
    .main-section{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:1000px) {
    .main-section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}




/* flexbox */



.video-bottom{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    column-gap: 20px;
    row-gap: 40px;
    align-items: start;
    
}

.video-container,
.video-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* individual elements */

.thumbnail{
    width: 100%;
    margin-bottom: 20px;
}

.channel-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.video-name{
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

.channel-name, .views-time{
    color: rgb(96, 96, 96);
    font-size: 12px;
    word-wrap: normal;
}

/* position */

.thumbnail-row{
    position: relative;
}

.video-time{
    
    background-color: rgba(0,0,0,0.9);
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;

    position: absolute;
    bottom: 30px; 
    right: 8px;
}

.notifications-icon-container{
    position: relative;
}

.notification-count{
    position: absolute;
    top:0px;
    right: -5px;
    background-color: rgb(200,0,0);
    color: white;
    font-size: 11px;
    padding: 1px 5px;
    border-radius: 50%;
    
}
