*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #470230;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* sketch area */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-self: center;
    border: 3px dotted red;
    width: 450px;
    height: 450px;
}

.each-div-line {
    display: flex;
    justify-content: center;
    align-content: center;
}

.box {
    /* background-color: navy; */
    background-color: #023047;
    transition: all 0.1s 0.01s ease;
    /* border: 1px solid rgb(1, 1, 174); */
    border: 1px solid #034261;
}

.box:hover {
    border: 1px solid white;
    opacity: 0.8;
}

/* color picker */

.color1 {
    background-color: #8ecae6;
    width: 25px;
    height: 25px;
}

.color2 {
    background-color: #219ebc;
    width: 25px;
    height: 25px;
}

.color3 {
    background-color: #ffb703;
    width: 25px;
    height: 25px;
}

.color4 {
    background-color: #fb8500;
    width: 25px;
    height: 25px;
}
.color5 {
    background-color: #ff0000;
    width: 25px;
    height: 25px;
}

/* input elements */
form {
    display: flex;
    width: 100px;

}

.rainbow-img{
    width: 25px;
    height: 25px;
    
}

.color-picker form {
    display: flex;
    justify-content: center;
}

label{
    margin: 0px 4px;
    display: flex;
    justify-content: center;
}

.color-picker input[type ="radio"]{
    display: none;
}

.color-picker form label:hover{
    background-color: white;
}

.set-size{
    margin:8px;
}

.set-size input{
    width: 35px;
    font-size: 14px;
    text-align: center;
    background-color: #023047;
    color: white;
    border: none;
    padding: 5px;
    margin: 8px;
}

.set-size #grid-size::placeholder{
    font-size: 12px;
}

.set-size button,
.color-reset{
    border: 0;
    background-color: #023047;
    color: white;
    padding: 3px 5px;
    text-align: center;
    font-size: 15px;
}

.color-reset{
    background-color: #02473c;
    color: white;
    font-size: 16px;
    margin:8px;
}